@import url("./skeleton.scss");

:root {
    --text-strong-color: #262626;
    --bg-light-color: #fafbfc;
    --border-color: #e1e4e8;
    --scrollbar-thumb-bg-color: #434343;
    --scrollbar-track-bg-color: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

*::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: var(--scrollbar-thumb-bg-color);
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg-color);

}

dd {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


p {
    line-height: 1.5;
}


figure {
    margin: 0;
}

figure img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

html {
    scroll-behavior: smooth;
}


body {
    position: relative;
    font-size: var(--text-strong-color);
    font-family: PingFang SC, HarmonyOS_Medium, Helvetica Neue, Microsoft YaHei, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    color: var(--text-title-color);
}

main {
    min-height: 100%;
    color: var(--text-color);
}

main aside {
    padding: 40px;
    min-width: 250px;
    border-right: 1px solid var(--border-color);
    background-color: var(--aside-bg-color);
}

main aside dl {
    display: flex;
    align-items: center;
    gap: 20px;
}

main article {
    padding: 50px 24px;
    background-color: var(--article-bg-color);
}

main article .article-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

main article .article-wrapper h1 + p {
    font-weight: bold;
}

main .font-icon {
    font-size: 24px;
}

a {
    text-decoration: none;
    transition: opacity .2s ease-out;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    opacity: .8;
}

a,
a:visited {
    color: var(--link-color);
}

main article {
    color: var(--text-light-color);
}


.content-wrapper strong {
    font-size: 1.5em;
}

article .repo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 14px;
}

article .repo-list li {
    display: grid;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

article .repo-list .repo-describe,
article .repo-list .repo-describe + div {
    font-size: 14px;
}


article .repo-list .repo-thumbnail {
    display: flex;
    align-items: center;
    gap: 20px;
}

article .repo-list .repo-thumbnail span:first-child i {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: currentColor;
    border-radius: 50%;
}

article .topic-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 150px;
}

article .topic-wrapper li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}


menu {
    position: fixed;
    right: 20px;
    top: 0;
}

menu ul {
    display: flex;
    align-items: center;
}

menu ul li {
    position: relative;
    min-width: 42px;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
}

menu ul li:first-child i {
    font-size: 18px;
    color: var(--text-title-color);
}

menu ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 0;
    margin: auto 0;
    width: 2px;
    background-color: var(--border-color);
}

.dark-light-btn {
    display: inherit;
    position: relative;
    width: 44px;
    height: 22px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    color: var(--buton-text-color);
    transition: .2s ease-out all;
    background-color: var(--button-bg-color);
}

.dark-light-btn:hover {
    border-color: #8e8e8e;
}


.dark-light-btn span {
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    left: 1px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    line-height: 17px;
    background-color: var(--button-bg-color2);
    transition: .2s ease-out left;
}

.dark-light-btn span.l {
    left: 1px;
}

.dark-light-btn span.r {
    left: calc(100% - 20px);
}