html[data-theme="light"] {
  --aside-bg-color: #fff;
  --article-bg-color: #fafbfc;
  --border-color: rgba(60, 60, 60, 0.12);
  --text-color: #213457;
  --link-color: #0072f5;
  --text-light-color: #586069;
  --skeleton-line-color: linear-gradient(to right, rgb(236, 236, 236), rgb(239,239,239), rgb(240,240,240));
  --text-title-color: #000;
  --buton-text-color: rgba(60,60,60,.7);
  --button-bg-color: #f1f1f1;
  --button-bg-color2: #fff;
}

html[data-theme="dark"] {
  --aside-bg-color: #1a1a1a;
  --article-bg-color: #242424;
  --border-color: rgba(84, 84, 84, 0.48);
  --text-color: rgba(255, 255, 255, .87);
  --link-color: #3694f5;
  --text-light-color: #d6d3d1;
  --skeleton-line-color: rgb(45,55,69);
  --text-title-color: #fff;
  --buton-text-color: #fff;
  --button-bg-color: #3a3a3a;
  --button-bg-color2: #1a1a1a;
}